<ion-header>
  <ion-toolbar>
 
    <!-- <ion-card>  -->
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <div>
            <ion-buttons slot="start">
              <ion-back-button defaultHref="/gown"></ion-back-button>
            </ion-buttons>
            <!-- <ion-buttons slot="start">
              <ion-menu-button color="Medium"></ion-menu-button>
            </ion-buttons> -->
          </div>
        </ion-col>

        <ion-col size="5">
          <div style="font-size: 18px;"><b>Product Details</b> </div>
        </ion-col>

        <!-- <ion-col size="2">
          <div > <mat-icon>search</mat-icon></div>
       </ion-col> -->

        <ion-col size="2">
          <div routerLink="/wishlist" routerDirection="root">
            <mat-icon>favorite_border</mat-icon>
          </div>
        </ion-col>

        <ion-col size="3">
          <div routerLink="/cart" routerDirection="root">
            <ion-buttons slot="end" style="width: 100%;">
              <ion-button color="Medium" style="width: 100%;">
                <ion-badge color="danger" *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
                <ion-icon slot="icon-only" name="cart"></ion-icon>
              </ion-button>
            </ion-buttons>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>




<!-- Image-Slider  -->
<ion-content>
  <ion-slides class="image-slider" loop="true" pager="true" slidesPerView="2" style="height: 35%;">
    <ion-slide>
      <img src="{{deals.imagename}}" class="thumb-img" imageViewer>
    </ion-slide>
  </ion-slides>


  <!-- products -->
  <mat-card>
    <div class="main-div">
      <div><b></b></div>
      <div></div>
      <div class="text-content"> 
        <br> <b><i class="fa fa-inr"></i>Brand: {{deals.cf_925}}</b>
        <br> <b><i class="fa fa-inr"></i>Product: {{deals.cf_954}} </b>

        <br> <b><i class="fa fa-inr"></i>Size: {{deals.cf_921}}</b>
        <br> <b><i class="fa fa-inr"></i>Model: {{deals.productname}}</b>

      </div>
      <div class="text" style="color:rgb(241, 127, 198);"> <b>Mrp: {{deals.unit_price}}</b> </div>
      <br> <b><i class="fa fa-inr"></i>Specificatios: {{deals.cf_919}}</b>
      <br> <b><i class="fa fa-inr"></i>Features:</b>
      <div class="text1">

        <ion-card style="color: black; background-color: #fff;">
          <!-- <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header> -->
        
          <ion-card-content>
            {{deals.cf_927}}

          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </mat-card>

  <mat-card>

    <!-- <div style="text-align: center; font-size: 15px;">
   <b> Size Available</b>
 </div>
<br><div style="display: flex; width: 100%; ">
  <div style="width: 12%;"> </div>
  <div  style="width: 30%; ">
        <ion-button fill="outline" color="light"  style="width: 40%;font-size: 12px;height: 1.5em;">S</ion-button>
  </div> 
  <div style="width: 30%;">
          <ion-button fill="outline" color="dark" style="width: 40%;font-size: 12px;he;ight: 1.5em;">M</ion-button>
  </div>
  <div style="width: 30%;">
          <ion-button fill="outline" color="danger" style="width: 40%;font-size: 12px;height: 1.5em;">L</ion-button>
  </div>
  <div style="width: 30%;">
          <ion-button fill="outline" color="danger" style="width: 40%;font-size: 12px; height: 1.5em;">XL</ion-button>
  </div>
</div> -->



    <!-- <div style="display: flex;">
<div style="width: 5%"></div>
<div style="width: 70%">
Select Size
</div>
<div style="width: 25%; color: rgb(241, 127, 198);">
Size Chart
</div>
</div>
<div style="height: 1em"></div>
<div style="display: flex; padding-right: 0%" >
<div style="width: 2.5%;"></div>
<div style="width: 16%;"><button mat-mini-fab disabled  style="color: black; font-size: 12px;">S</button></div>
<div style="width:16%;"><button mat-mini-fab disabled  style="color: black; font-size: 12px;">M</button></div>
<div style="width:16%;"> <button mat-mini-fab disabled  style="color: black; font-size: 12px;">L</button></div>
<div style="width: 16%;"> <button mat-mini-fab disabled  style="color: black; font-size: 12px;">XL</button></div>
<div style="width: 16%;" > <button mat-mini-fab disabled  style="color: black; font-size: 12px;">XXL</button></div>
<div style="width: 12%;" > <button mat-mini-fab disabled  style="color: black; font-size: 12px;">3XL</button></div>

</div> -->




  </mat-card>






  <!-- <mat-card>
    <div class="main_arrow">
      <div class="wom"><b> Product Description</b> </div>
      <div class="arrow">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </div>
    </div>


  </mat-card> -->

  <!-- <mat-card>
    <div class="main_arrow">
      <div class="wom" routerLink="/wishlist" routerDirection="root"><b> Move To Wishlist</b> </div>
      <div class="arrow">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </div>
    </div>

  </mat-card> -->

  <!-- <mat-card>
    <div class="main_arrow">
      <div class="wom"><b> Buyer Gurantee</b> </div>
      <div class="arrow">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </div>
    </div>

  </mat-card> -->



  <!-- <div class="main-div1">
          <div class="rs">
              <b>Best Price: <i class="fa fa-inr"></i>159900</b> 
          </div>
         
             
                  <div class="text11">
                     <br><b> Max Discount: 20% of MRP</b>
                  </div>
      </div> -->


  <!-- <mat-card style="font-size: 14px;">

<b> Item Specification</b>

</mat-card>
<mat-card style="font-size: 14px;">

  <b>  Move To WishList</b>
   
    </mat-card>
    <mat-card style="font-size: 14px;">

      <b>  Buyer Gurantee</b>
       
        </mat-card> -->


  <!-- Add to cart button -->
  <mat-card>

    
    <!-- <div class="button"  >
      <a  tappable (click)="goToEditProfile()" style="font-family: sans-serif; font-size: 12px;">
    <ion-button color="dark"  (click)="show=!show" style="height: 2em;" >
       <ion-icon name="basket" style="margin-bottom: 3px;"></ion-icon> &nbsp;&nbsp; {{show ? 'ADD TO BAG' : 'ADD TO BAG'}}
      
    </ion-button>
  </a>
</div>  -->


    <ion-button expand="full" (click)="addtocart(deals.id)"
      style=" font-size: 12px;  font-family: 'Open Sans', sans-serif; " color="dark">
      <ion-icon name="basket" zoom="1" style="margin-bottom: 3px;"></ion-icon>
      &nbsp; Add to Cart
    </ion-button>

  </mat-card>





</ion-content>


<ion-buttons slot="start">
  <ion-back-button defaultHref="/gown"></ion-back-button>
</ion-buttons>