.main-logo{
    display: flex;
     width: 100%;
     border-bottom: 1px solid #f1f1f1;
     
   }
  
  .menu{
    width: 15%;
    }
    .Home{
      margin-top: .4em;
      padding: 0;
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      color: black;
      width: 70%;;
    }
    .basket{
      width: 11%;
      margin-top: .3em;
      color:'medium';
    }
    .search{
     width: 12%;
     margin-top: .3em;
     color:'medium';
    }
    .wish{
      width: 15%;
      margin-top: .3em;
      color:'medium';
     }
  
  
  .main-div{
      width: 100%;
      height: 27%;
      margin-top: 20px;
      font-size: 12px;
      font-family: 'Open Sans', sans-serif;
      letter-spacing: 1px;
      color:black;
    }
  .text-content{
      color: black;
  }
  .text{
      font-size: 11px;
      font-family: 'Open Sans', sans-serif;
      
  }
  .text1{
      width: 100%;
       font-size: 11px;
       font-family: 'Open Sans', sans-serif;
     color: black;
  }
  .wom{
    background-color: #f1f1f1;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    letter-spacing: .5px;
    border-radius: 3px;
     padding: 1.7%;
    width: 80%;
  }
  .main_arrow{
    display: flex;
    width: 100%;
    background-color: #f1f1f1;
    
    
  }
  .arrow{
    zoom: .7;
    padding: 2.2%;
  }
  
  
  .main-div1{
      width: 100%;
      height: 25%;
      margin-top: 20px;
      font-size: 11px;
      letter-spacing: 1px;
      font-family: 'Open Sans', sans-serif;
  }
  .rs{
     color: #32db64;
  }
  .text-content1{
      color: rgb(49, 138, 240);
      font-family: 'Open Sans', sans-serif;
  
  }
  .text11{
     
    font-family: 'Open Sans', sans-serif;
      color: red;
     
  }
  
  .text12{
      width: 100%;
       font-size: 12px;
      color: black;
      font-family: 'Open Sans', sans-serif;
  }
  .button{
      width: 100%;
      height: 25%;
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      margin: auto;
  }
  mat-card{
    border-radius: 0%;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
  }
  
  
  
  