<ion-header >
  <ion-toolbar color="light" >
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
    <ion-title style="font-family: 'Open Sans', sans-serif; font-size: 17px;" >Confirmation</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
   <div style="height: 3em;">

   </div>

  <div class="cart">
      <img class="cart-style" src="assets/img/confirm1.png"/>
    </div>

    
       
      <div class="button" routerLink="/home" routerDirection="root">
         <button mat-flat-button  style="width: 80%;  background: black; color:white">Continue Shopping</button>
       </div>
      <div style="height: 5%;">
      </div> 
</ion-content>
