<ion-header >
  <ion-toolbar color="light" >
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
    <ion-title style="font-family: 'Open Sans', sans-serif; font-size: 17px;">Orders</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <div class="main">
        <div class=pay>
         ORDER NO: 1465-6755-7786
        </div>
        <div class="order_detail">
         <a href="/order-cancel"> Order Details</a>
        </div>
    </div>

    <mat-card class="od1">
      <div class="main_detail">
        <div class="img">
            <img  class="img1" src="assets/img/l.png"/>
        </div>
          <div class="content" >
             <strong> Beautiful Floral Gown</strong> 
            <div>
                Size: XS|Qty:1
            </div>
            <div>
              <i class="fa fa-inr"><b>1199</b></i>
            </div>
            <div style="color:#19b0c4;">
              <br>  <strong>Delivered (May,2018)</strong>
            </div>
        </div>
      </div>
   </mat-card>

      <div class="main" style="background-color: white; ">
          <div class=pay>
             Bought for Avii
          </div>
      </div>

          <div style="height: 3%"> </div>
           
           <mat-card class="od1">
              <div class="main_detail">
                <div class="img">
                    <img  class="img1" src="assets/img/4a.png"/>
                </div>
                <div class="content" >
                    <strong> Beautiful Green Bag</strong> 
                   <div>
                      Size: XS|Qty:1
                   </div>
                   <div>
                     <i class="fa fa-inr"><b>1199</b></i>
                   </div>
                   <div style="color:#19b0c4;">
                     <br>  <strong>Delivered (May,2018)</strong>
                   </div>
                </div>
              </div>
           </mat-card>

               <div class="main" style="background-color: white; ">
                  <div class=pay>
                      Bought for Avii
                  </div>
               </div>

                    <div style="height: 3%"></div>
                      
                   <mat-card class="od1">
                     <div class="main_detail">
                         <div class="img">
                             <img  class="img1" src="assets/img/4a.png"/>
                         </div>
                         <div class="content" >
                           <strong> Beautiful Green Bag</strong> 
                              <div>
                                  Size: XS|Qty:1
                              </div>
                              <div>
                                 <i class="fa fa-inr"><b>1199</b></i>
                              </div>
                              <div style="color:#19b0c4;">
                                 <br>  <strong>Delivered (May,2018)</strong>
                              </div>
                         </div>
                      </div>
                .  </mat-card>
                          <div style="height: 2%;">
                            </div>
  </ion-content>