
<ion-header >
  <ion-toolbar >

    <ion-grid>
      <ion-row>
         <ion-col size="2">
            <div>
               <ion-buttons slot="start">
                  <ion-menu-button color="Medium"></ion-menu-button>
               </ion-buttons> 
            </div>
         </ion-col>

         <ion-col size="4">
            <div style="font-size: 17px;"><b>Hand Bags</b> </div>
         </ion-col>

         <ion-col size="1.5" style="text-align: end;">
            <div > <mat-icon>search</mat-icon></div>
         </ion-col>

         <ion-col size="1.5" style="text-align: end;">
            <div routerLink="/wishlist" routerDirection="root"><mat-icon>favorite_border</mat-icon></div>
         </ion-col>

         <ion-col size="3">
          <div routerLink="/cart" routerDirection="root">
            <ion-buttons slot="end" style="width: 100%;">
                <ion-button  color="Medium" style="width: 100%;">
                  <ion-badge color="danger"  *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
                  <ion-icon slot="icon-only" name="cart" ></ion-icon>
                </ion-button>
            </ion-buttons>
          </div>
         </ion-col>
      </ion-row>
   </ion-grid>        
     

 </ion-toolbar>
</ion-header>


<ion-content>
 

 <mat-card >
   <div class="main11">
     <div class="main-bag">
 
       <div class="bag1">
         <img class="bag-purse" src="assets/img/purse.png" routerLink="/bagdetail" routerDirection="root" /><b>Green Bag <br><i class="fa fa-inr">899</i></b>
         <div style="margin-left: 12%;">
           <ion-button expand="full"  (click)="addToCart(product)" class="cart_btn"  color="dark" >Add to Cart</ion-button>
         </div>
       </div>

      <div class="bag2">
          <img class="bag-purse" src="assets/img/purse1.png" /><b> Fashionable Bag <br><i class="fa fa-inr">1199</i></b>
         <div style="margin-left: 12%;">
          <ion-button expand="full"  (click)="addToCart(product)" class="cart_btn" color="dark" >Add to Cart</ion-button>
         </div>
      </div>
         
    </div>   
  
       <div class="main-bag1">
         <div class="bag11">
          <img class="bag-purse" src="assets/img/purse2.png" /><b>Pink Bag <br><i class="fa fa-inr">799</i></b>
          <div style="margin-left: 12%;">
            <ion-button expand="full"  (click)="addToCart(product)" class="cart_btn" color="dark" >Add to Cart</ion-button>
          </div>
         </div>

         <div class="bag12">
            <img class="bag-purse" src="assets/img/bag3.png" /><b> Blue Bag <br><i class="fa fa-inr">899</i></b>
            <div style="margin-left: 12%;">
              <ion-button expand="full"  (click)="addToCart(product)" class="cart_btn" color="dark" >Add to Cart</ion-button>
            </div>
          </div>
      </div>   

       <div class="main-bag2">
          <div class="bag21">
             <img class="bag-purse" src="assets/img/bag4.png" /><b>Hand Bag <br><i class="fa fa-inr">999</i></b>
             <div style="margin-left: 12%;">
               <ion-button expand="full"  (click)="addToCart(product)" class="cart_btn" color="dark" >Add to Cart</ion-button>
            </div>
          </div>

            <div class="bag22">
                <img class="bag-purse" src="assets/img/bag5.png" /><b> Royal Bag <br><i class="fa fa-inr">1599</i></b>
                <div style="margin-left: 12%;">
                  <ion-button expand="full"  (click)="addToCart(product)" class="cart_btn" color="dark" >Add to Cart</ion-button>
                </div>
              </div>
        </div>   
        </div>
    </mat-card>
    
   

</ion-content>


<ion-buttons slot="start">
<ion-back-button defaultHref="/home"></ion-back-button>
</ion-buttons>