<ion-header>
  <ion-toolbar color="light" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-family: 'Open Sans', sans-serif; font-size: 17px;">My Dealers</ion-title>
    <ion-buttons slot="end" (click)="presentActionSheet()" >
      <ion-icon name="funnel"></ion-icon>
      

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-searchbar [(ngModel)]="value" 
(ionChange)="applyFilters($event)" (ionClear) ="resetFilters()" (ionCancel) ="resetFilters()"></ion-searchbar>

<ion-content (ionScroll)="onScroll($event)">

  <h3 class="ion-text-center" *ngIf="dealers.length == 0 ">{{Error_message}}</h3>
  <ion-grid class="investor " *ngFor="let d of dealers; let i = index;">
    <ion-row class="ion-no-padding">
        <ion-col size="12" class="ion-no-padding">
            <ion-row>               
                <ion-col class="ion-padding" >
                    <div class="second">
                        <ion-label>{{d.accountname}}</ion-label>
                        <ion-text><img src="/assets/icon/phone.svg"> <span *ngIf="d.phone != '' && d.phone != 'undefined' ">{{d.phone}}</span> <span *ngIf="d.phone == '' && d.phone == 'undefined' ">-</span> </ion-text>
                        <ion-text><img src="/assets/icon/mail.svg"><span *ngIf="d.email1 != '' && d.email1 != 'undefined' "> {{d.email1}}</span> <span *ngIf="d.email1 == '' && d.email1 == 'undefined' "> - </span></ion-text>
                    </div>                    
                </ion-col>
               
            </ion-row>
        </ion-col>
        

    </ion-row>

</ion-grid>

<ion-infinite-scroll threshold="100px" (ionInfinite)="getDealers($event)" *ngIf="disable==0">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>
