<ion-header >
  <ion-toolbar color="light" >
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/order"></ion-back-button>
        </ion-buttons>
    <ion-title style="font-family: 'Open Sans', sans-serif; font-size: 17px;" >Cancel Order</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
   
       <div style="height: 2%"></div>
       <mat-card class="od1">
         
          <div class="main_detail">
            <div class="img">
                <img  class="img1" src="assets/img/l.png"/>
            </div>
              <div class="content" >
                 Beautiful Floral 
                 <div>
                    Self Design Gown  
                  </div>
                <div>
                    Size: XS|Qty:1
                </div>
                <div>
                  <i class="fa fa-inr"><b>1199</b></i>
                </div>
                <div >
                  <br>  <strong>Order Id : 764736</strong>
                </div>
            </div>
          </div>
       </mat-card>

       <mat-card class="od2">
           <div style="display: flex; width: 100%; ">
                 <div style="width: 10%;">
                 </div>
                 <div class="edit" >
                    <p text-center tappable (click)="removeAddress()"  >
                      <strong> Cancel Order</strong>
                    </p>
                 </div>
                 <div style="font-size: 15px; width: 10%;">
   |
                 </div>
                 <div class="remove" >
                    <strong > Track Order</strong>
                 </div>
           </div>
       </mat-card>
          
    <!-- </ion-card> -->

    <div style="height: 2%"></div>
       <mat-card class="od1">
         
          <div class="main_detail">
            <div class="img">
                <img  class="img1" src="assets/img/h.png"/>
            </div>
            <!-- <div style="height: 14%"></div> -->
              <div class="content" >
                      Beautiful Elegance Green 
                <div>
                     Luxury Stylish Bag 
                </div>
                <div>
                      Size: XS|Qty:1
                  </div>
                <div>
                        <i class="fa fa-inr"><b>1199</b></i>
                </div>
                <div >
                      <br>  <strong>Order Id : 764736</strong>
                    </div>
                <!-- <div style="color:#19b0c4;">
                  <br>  <strong>Delivered (May,2018)</strong>
                </div> -->
            </div>
          </div>
       </mat-card>

       <mat-card class="od2">
           <div style="display: flex; width: 100%; ">
                 <div style="width: 10%;">
                 </div>
               <div class="edit" >
                    <p text-center tappable (click)="removeAddress()"  >
                     <strong> Cancel Order</strong>
                    </p>
             </div>
              <div style="font-size: 15px; width: 10%;">
                  |
              </div>
              <div class="remove" >
                  <strong > Track Order</strong>
              </div>
           </div>
      </mat-card>
          
      <div style="height: 2%"></div>
    
  </ion-content>