ion-content{
    --background: linear-gradient(100deg, var(--ion-color-light), var(--ion-color-primary-contrast));  
}

.main{
    display: flex;
}
.content{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    color: black;
}
.icon{
    width: 15%;
}
.od1{
    width: 96%;
    margin: auto;
     border-radius: 0px;
    //  height: 60%;
}
.main_detail{
    display: flex;
    height: 30%;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    width: 100%;
    
}
.img{
    width: 40%;
    
}
.img1{
    width: 80%;
    
}
.content1{
    
    margin-top: 5%;
    width: 65%;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: black;
}
